<!-- 
    
    form-control-properties:
    * pristine - when value didn't changed
    * dirty - when value changed
    * touched - when user touch the input-box
    * untouched - when user not touch the input-box
    * valid
    * invalid

-->

<div>
    <form (submit)="handleAdd()" ngNativeValidate #myForm="ngForm">
        <label> Name </label>
        <span *ngIf="!product.name"> Name is required! </span>
        <input type="text" name="name" [(ngModel)]="product.name" required>

        <label> Price </label>
        <span *ngIf="priceBox.dirty && priceBox.invalid"> Price is required! </span>
        <input #priceBox="ngModel" type="number" name="price" [(ngModel)]="product.price" required>

        <label> Stok </label>
        <span *ngIf="stockBox.errors?.['required']"> stock is required |</span>
        <span *ngIf="stockBox.errors?.['min']"> stock can't be negetive </span>
        <input #stockBox="ngModel" type="number" min="0" name="stock" [(ngModel)]="product.stock" required>

        <label> Image </label>
        <input type="file" name="image" (change)="onImageSelected($event)">

        <button type="submit" [disabled]="myForm.invalid" > Add </button>
    </form>

</div>